
a{
    text-decoration: none;
}
h1{
    padding: 5%;
}
h4{
    padding: 5%;
}
img{
    max-width: 100%;
}

<!-- -------------------------------------------  Intro  ------------------------------------------- -->

#index-intro-main-block{
    float: left;
    padding: 10% 10% 10% 10%;
    width: 100%;
}
#index-intro-left-half{
    width: 50%;
    float: left;
}
#index-intro-right-half{
    width: 50%;
    float: left;

}
#index-register-button{
    color: #FFFFFF;
    margin: 5%;
}
#security-image{
    max-width: 10%;
    padding: 5%;
    display: block;

    margin-left: auto;
    margin-right: auto;
}


#index-intro-second-block{
    float: left;
    padding: 10% 10% 10% 10%;
    width: 100%;
}
.index-numbered-box{
    float: left;
    width: 25%;
}
.index-numbered-box-content{
    width: 90%;
    height: 8vh;
    border-radius: 16px;
    padding: 2%;
    z-index: 1001;
    border-right:2px solid black;
    border-bottom:2px solid black;
}
.index-number-box{
    float: left;
    background: #FFFFFF;
    color: #587897;
    border-radius: 16px;
    padding: 2% 4% 2% 4%;
    z-index: 1002;
    border-right:2px solid black;
    border-bottom:2px solid black;
    width: fit-content;
}

<!-- -------------------------------------------  Gallery  ------------------------------------------- -->

#index-gallery-main-block{
    padding: 10% 10% 10% 10%;
    width: 100%;
}

#index-gallery-projtypes{
    float: left;
    width: 20%;
}
#index-gallery-projtypes-list{}
#index-gallery-projtypes-list.ul{
    margin: 1%;
}

#index-gallery-freelancers{
    float: left;
    width: 80%;
}
#index-gallery-freelancers-main-blocks{
    float: left;
    width: 30%;
}
.index-gallery-freelancer-block{
    display: block;
    float: left;
    width: 94%;
    margin: 2%;
    border-right:2px solid black;
    border-bottom:2px solid black;
}
#index-gallery-freelancers-secondary-blocks{
    float: left;
    width: 70%;
}
#index-gallery-secondary-pictures{
    float: left;
    width: 100%;
}
.index-gallery-secondary-picture{
    float: left;
    display: block;

    width: 50%;
    height: 25vh;
    margin: 0;
    padding: 0;
}
#index-gallery-secondary-linkbox{
    float: left;
    width: 100%;
    border-right:2px solid black;
    border-bottom:2px solid black;
}

#index-gallery-specs{
    width: 100%;
}
.index-gallery-spec{
    float: left;display: block;
    background: #FFFFFF;
    border-style: solid;
    border-radius: 16px;
    margin: 1%;
    padding: 1%;
}
#index-gallery-spec-title{
    color: #587897;
}
#index-gallery-spec-amount{
    color: #587897;
}


<!-- -------------------------------------------  Promotional  ------------------------------------------- -->
#index__promotional__main-block{
    padding: 10%;
    width: 100%;
}
#index__promotional__card-block {
    width: 100%;
}
.index__promotional__card {
    float: left;
    width: 21%;
    margin: 1%;
    padding: 1%;
    border: 2px black solid;
}
#index__promotional__why-us-block{
    width: 100%;
    flex: initial;
}
#index__promotional__why-us-block__image-block{
    float: left;
    flex: initial;
    width: 50%;
}
#index__promotional__why-us-block__info-block{
    float: left;
    flex: initial;
    width: 50%;
}


<!-- -------------------------------------------  Projects  ------------------------------------------- -->

#index-projects-main-block{
    width: 100%;
    padding: 10% 10% 10% 10%;
}

#index-projects-projtypes{
    float: left;
    width: 20%;
}
#index-projects-projtypes-list{}
#index-projects-projtypes-list.ul{
    margin: 1%;
}

#index-projects-picture-block{
    float: left;
    width: 80%;
}
#index-projects-secondary-linkbox{
    float: left;
    width: 100%;
    border-right:2px solid black;
    border-bottom:2px solid black;
}

#index-projects-specs{
    float: left;
    width: 100%;
}
.index-projects-spec{
    float: left;display: block;
    background: #FFFFFF;
    border-style: solid;
    border-radius: 16px;
    margin: 1%;
    padding: 1%;
}
#index-projects-spec-title{
    color: #587897;
}
#index-projects-spec-amount{
    color: #587897;
}

<!-- -------------------------------------------  Info  ------------------------------------------- -->

#index-info__main{
    padding: 10%;
    width: 100%;
}
#index-info__left-half{
    float: left;
    width: 50%;
}
#index-info__right-half{
    float: left;
    width: 50%;
}