body{
    background: #FFFFFF;
}

.centered-text{
    text-align: center;
}
.centered-content{
    align-content: center;
}
.fixed{
    position:fixed;
    top:0px;
    right:0px;
}


.errmsg{
    background-color: #FFAAAA;
}
.warning-label{

    background-color: #DDAAAA;
    border-radius: 10%;
}

.block-label-bordered{
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 16px;
    border-style: solid;
    padding: 2% 0 2% 0;
    margin: 2%;
}

.block-label-white{
    background: #FFFFFF;
    color: #000000;
    border-radius: 16px;
    padding: 3%;
    width: 40%;
}
.block-label-blue{
    background: #587897;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 3%;
}

.rounded-image{
    float: left;
    display: block;
    border-radius: 50%;
}
.smooth-image{
    float: left;
    display: block;
    border-radius: 10%;
}