/* Figma Styles of your File */
:root {
  /* Colors */
  --01: #05141b;
  --02: #14202d;
  --03: #253745;
  --04: #587897;
  --05: #8eafcf;
  --06: #d0daea;
  --07: #eff1f5;
  --08: #001aff;
  --09: #ffffff;

  /* Fonts */
  /* Effects */
}
